<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {% for field in form %}
        {% if field.name != 'csrf_token' %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                <small class="error">{{ error }}</small>
                {% endfor %}
            {% endif  %}
        </div>
        {% endif %}
    {% endfor %}
    <div class="input submit" style="margin-top:25px">
        <button class="btn btn-primary" style="width:100%">Save</button>
    </div>
</form>