[data-theme-preference="dark"]{
  .items-icons{
    li{
      a{
        color: var(--color-cannes);
        transition: background-color .8s, color .8s;

        &:hover{
          color: var(--color-laval);
          background-color: var(--color-nice);
        }

        > span:nth-child(1){
          background-color: var(--color-nice);
          color: var(--color-laval);
        }
        > span:nth-child(2){
          width: 100%;
          max-width: calc(100% - 5rem);
          > span{
            display: block;
          }
        }
      }
    }
  }
}
