<!doctype html>
<html lang="fr" id="top">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RB webstudio - spécialiste Python - Javascript/Typescript{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-float.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-prototype.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-rtl.min.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    {% block css %}{% endblock %}
  </head>

  <body>
    <main class="grid-container">
      {% include "partials/frontend/header.html" %}
      {% include "partials/frontend/intro.html" %}
      {#{% include "partials/about.html" %}#}
      {% block content %}{% endblock %}
      {% include "partials/frontend/contact.html" %}
      {% include "partials/frontend/footer.html" %}
    </main>
    <script src="{{ url_for('static', filename="js/app.js") }}"></script>
    {% block js %}{% endblock %}
    <script src="http://localhost:5173/@vite/client" type="module"></script>
    <script src="http://localhost:5173/frontend/main.js" type="module"></script>
  </body>
</html>
