@each $k, $v in $fonts{
    @font-face {
        font-family: #{$k};
        src: url('fonts/#{$v}.woff2') format('woff2'),
             url('fonts/#{$v}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}
