.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/private/
docs/backup/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
node_modules/*

