.about{
  h3{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .content{
    p{
      margin: 1.6rem 0 0 0;
      #xp{
        font-weight: 600;
      }
    }
  }
}
