input[type=checkbox]{
  position: fixed;
  left: -5000px;
  &+.icon{
    i{
      &:nth-child(1){
        display: inline-block;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }
  &:checked{
    &+.icon{
      i{
        &:nth-child(1){
          display: none;
        }
        &:nth-child(2){
          display: inline-block;
        }
      }
    }
  }
}
