.items-icons{
  margin-left: 0;
  list-style: none;
  li{
    a{
      color: map-get($colors, cannes);
      padding: 1.2rem;
      transition: background-color .8s;
      display: block;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:before{
      }

      &:hover{
        background-color: map-get($colors, nice);
        text-decoration: none;
      }

      > span:nth-child(1){
        display: block;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        background-color: map-get($colors, nice);
        border-radius: $border-radius;
      }
      > span:nth-child(2){
        width: 100%;
        max-width: calc(100% - 5rem);
        > span{
          display: block;
        }
      }
    }
  }
}
