.items-icons{
  margin-left: 0;
  list-style: none;
  li{
    a, button{
      color: var(--color-cannes);
      padding: 1.2rem;
      transition: background-color .8s;
      display: block;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      width: 100%;
      text-align: left;
      cursor: pointer;
      line-height: normal;

      &:hover, &.current{
        background-color: var(--color-nice);
        text-decoration: none;
      }

      &.current.reset{
        background-color: initial;
      }

      > span:nth-child(1){
        display: block;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        background-color: var(--color-nice);
        border-radius: $border-radius;
      }
      > span:nth-child(2){
        width: 100%;
        max-width: calc(100% - 5rem);
        line-height: 2.6rem;
        > span{
          display: block;
        }
      }
    }
  }
}
[data-theme-preference="dark"]{
  .items-icons{
    li{
      a, button{
        color: var(--color-cannes);
        transition: background-color .8s, color .8s;

        &:hover, &.current{
          color: var(--color-laval);
          background-color: var(--color-nice);
        }

        &.current.reset{
          color: var(--color-cannes);
          background-color: inherit;
        }

        > span:nth-child(1){
          background-color: var(--color-nice);
          color: var(--color-laval);
        }
        > span:nth-child(2){
          width: 100%;
          max-width: calc(100% - 5rem);
          > span{
            display: block;
          }
        }
      }
    }
  }
}