label{
  >span{
    border-radius: $border-radius;
    display: block;
    padding: .8rem;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      left:50%;
      right: 50%;
      bottom: 0.7rem;
      height: .1rem;
      background-color: transparent;
      transition: left .2s, right .2s, background-color .2s;
    }

    > span:not(.error){
      color: map-get($colors, cannes);
      font-size: $font-size-base;
      font-weight: 600;
      transition: color .2s;
    }
    > span.error{
      font-size: $font-size-base;
      color: map-get($colors, marseille);
      position: absolute;
      bottom: -3rem;
      left: 0.8rem;
      right: 0.8rem;
    }
  }
  //&:has(input.error:not([type=checkbox]), select.error, textarea.error){
    //> span{
      //&::before{
        //bottom: 3.6rem;
      //}
    //}
  //}
  &:has(input:not([type=checkbox]):focus, select:focus, textarea:focus){
    > span{
      &::before{
        left: 0.8rem;
        right: 0.8rem;
        background-color: map-get($colors, cannes);
      }
    }
  }
  &:has(input.error:not([type=checkbox]):focus, select.error:focus, textarea.error:focus){
    > span{
      &::before{
        //left: 0.8rem;
        //right: 0.8rem;
        //bottom: 3.6rem;
        background-color: map-get($colors, marseille);
      }
    }
  }

  > span{
    &:has(input:disabled){
      > span{
        color: transparent;
      }
    }
  }
}
