#lateralBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div{
    display: flex;
    flex-direction: column;

    .button{
      padding: .8rem;
      background-color: transparent;
      color: var(--color-cannes);
      transition: background-color .4s, color .4s;
      margin-bottom: 0;
      margin-top: 1rem;

      &:first-child{
        margin-top: 0;
      }

      &:hover{
        color: var(--color-marseille) !important;
      }

      &.current{
        background-color: var(--color-cannes);
        color: var(--color-laval);
        cursor: default;

        &:hover{
          color: var(--color-laval) !important;
        }
      }
    }
    .share{
      margin-top: 0;


      li{
        margin-top: 1rem;
        transform-origin: top;
        overflow: hidden;
        animation-fill-mode: both;
        max-height: 3.2rem;

        @for $i from 1 through 4{
          &:nth-child(#{$i}){
            animation: fadeOut 0.4s forwards;
            animation-delay: #{($i - 1) * 0.4}s;
          }
        }
      }

      &.displayObserve{
        li{
          opacity: 0;
          height: 0;
          margin-top: 0;
          @for $i from 4 through 1{
            &:nth-child(#{$i}){
              animation: fadeIn 0.4s forwards;
              animation-delay: #{(4 - $i) * 0.2}s;
            }
          }
        }
      }
    }
  }
}

// Animations keyframes
@keyframes fadeIn {
  0% {
    height: 0;
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
    margin-top: 1rem;
  }
}

html[data-theme-preference="dark"]{
  #lateralBar{
    > div{
      .button{
        border: none;
      }
    }
  }
}
