#lateralBar{
  display: flex;
  flex-direction: column;
  .button{
    padding: 1rem;
    background-color: transparent;
    color: var(--color-cannes);

    &:hover{
      color: var(--color-marseille) !important;
    }
  }
}
