#summary{
  nav{
    scrollbar-color: transparent transparent !important;

    &::-webkit-scrollbar-track {
      background: transparent !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: transparent !important;
      transition: background .4s;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: transparent !important;
    }

    ul{
      li{
        list-style: none;

        &.active{
          list-style: square;
          color: var(--color-marseille);

          a{
            color: var(--color-marseille);
          }
        }
      }
    }
  }
}
