.layer{
  .wrap{
    position: relative;
    height: 100%;

    .close{
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      z-index: 100;
      padding: .8rem;
    }

    .content{
      position: relative;
      padding: 4.5rem 2.5rem;
      min-height: 5000px;
      height: 100%;

      nav{
        margin-top: 2rem;
        overflow: auto;
        scrollbar-color: transparent transparent !important;

        &::-webkit-scrollbar-track {
          background: transparent !important;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: transparent !important;
          transition: background .4s;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: transparent !important;
        }
        ul{
          margin-top: 0;
        }
      }
    }
  }
}
