#project{
  .content{
    padding: 4.5rem 0;
    height: 100%;
  }
  article{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    padding: 0 2.5rem;
    header{
      margin-top: 2.5rem;
      .base-infos{
        display: flex;
        gap: .8rem;
        justify-content: space-between;

        span{
          > span:first-child{
            margin-right: 0.3rem;
            font-size: 1.2rem;
          }
        }
      }
      h2{
        margin: 1.6rem 0 0;
      }

      .meta{
        margin: .5rem 0 2.5rem;
        font-size: 1.3rem;
        display: flex;
        flex-wrap: wrap;

        li{
          width: 50%;
          span:first-child{
            margin-right: 0.5rem;
          }
          &:nth-child(3){
            width: 100%;
          }
        }
      }
    }
    .body{
      flex: 1;
      min-height: 0;
      @include breakpoints('md', min) {
        overflow-y: visible;

        p {
          // Calcul dynamique en JS
          // On définira max-height via JS
        }
      }

      p{
        margin-bottom: 2.4rem;
        max-height: calc(100vh - 400px);
          overflow-y: auto;
          margin-bottom: 2rem;

          a{
            text-decoration: underline;

            &:after{
              content: '';
              margin: 0 .4rem;
              display: inline-flex;
              width: 1rem;
              height: 1rem;
              position: relative;
              bottom: .8rem;
              background-color: var(--color-mandelieu);
              mask: url('/static/img/target_blank.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask: url('/static/img/target_blank.svg') no-repeat center;
              -webkit-mask-size: contain;
            }

            &:hover{
              text-decoration: none;
            }
          }
      }

      ul{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        align-items: center;
        flex-shrink: 0; // Ne rétrécit pas
        margin-top: auto;

        li{
          margin-right: 0.8rem;
          display: flex;
          align-items: center;
          span{
            margin-right: 0.5rem;
            font-size: 1rem;
          }
        }
      }
    }
    footer{
      text-align: center;
      padding: 2.5rem 0;
      flex-shrink: 0;
      position: sticky;
      bottom: 0;
      // background: orange;
      z-index: 10;
      // pas envie de casser la tête avec les priorités. Alors, j'ai dû dupliquer du code venant de l'atom button
      .link{
        padding: 1rem 1.5rem;
        display: inline-block;
        border-radius: $border-radius;
        font-size: $font-size-base;
        color: var(--color-laval);
        background-color: var(--color-cannes);
        font-variant: small-caps;
        text-decoration: none;
        transition: color .4s, background-color .4s;

        span{
          font-size: 1.3rem;
          margin-right: 0.5rem;
        }

        &:hover{
          color: var(--color-cannes);
          background-color: var(--color-nice);
        }
      }
    }
  }
}
html[data-theme-preference="dark"]{
  #project{
    .link{
      border: .2rem solid transparent;


      &:is(:hover, :active){
        color: var(--color-cannes);
        background-color: var(--color-laval);
        border-color: var(--color-cannes);
      }
    }
  }
}