*, *:before, *:after{
    box-sizing: border-box;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

html{
    overflow: hidden;
}

body {
    color: #444;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /*font-size: 62.5%;*/
    overflow: hidden;
}
#work{
    height: 100%;
}
#work nav{
    height: 100%;
    overflow: auto;
    scroll-behavior: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: auto;

}

#work nav::-webkit-scrollbar {
    width: 1px;
    height: 0px;
    background-color: transparent;
}
#work nav::-webkit-scrollbar-thumb {
    background:transparent;
}

#work nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    color: red;
    width: calc(42 * 110px);
    justify-content: flex-start;
    transition: width 400ms;
}
#work nav ul li{
    border-top: none;
    border-bottom: none;
    width: 9vw;
    position: relative;
    transition: width 200ms;
}

#work nav.on-nav ul li.display:hover {
    width: 15vw !important;
}

#work nav.on-nav.on-scroll ul li.display:hover {
    width: 9vw !important;
}

#work nav ul li:before{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2980b9;
    border-left: 2px solid transparent;
    transition: background-color 400ms, top 400ms, border-left-color 200ms 800ms;
}

#work nav ul li:first-child:before{
    background-color: #16a085;
    border-left-color: #11725f !important;
}
#work nav ul li.display:before{
    top: 0;
    border-left-color: #2475a9;
}

#work nav ul li.current.display:before{
    top: 0;
    border-left-color: #2475a9;
}
#work nav ul li:hover:before{
    background-color: #2475a9;
}

#work nav ul li:hover:first-child:before{
    background-color: #11725f;
}

#work nav ul li.current span[class^=fa]{
    opacity: 0;
    transform: translateX(-50%) scale(0);
}

#work nav ul li.current.right:before{
    animation-name: slideColorHiddenRight;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 400ms;
}

@keyframes slideColorHiddenRight{
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}

#work nav ul li.current.left:before{
    animation-name: slideColorHiddenLeft;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 400ms;
}

@keyframes slideColorHiddenLeft{
    0%{
        right: 0;
    }
    100%{
        right: 100%;
    }
}

#work nav ul li.before-left:before{
    animation-name: slideColorDisplayLeft;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 0;
}


@keyframes slideColorDisplayLeft {
    0%{
        left:100%;
    }
    100%{
        left: 0;
    }
}

#work nav ul li.before-right:before{
    animation-name: slideColorDisplayRight;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 0;
}

@keyframes slideColorDisplayRight {
    0%{
        right: 100%;
    }
    100%{
        right: 0;
    }
}



#work nav ul li button {
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 9vw;
    transition: width 400ms;
}

#work nav.on-nav ul li:hover button{
    width: 15vw;
}

#work nav.on-nav.on-scroll ul li:hover button{
    width: 9vw;
}

#work nav ul li button > span{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #f5f5f5;
    display: block;
    width: 910px;
    z-index: 200;
    transform-origin: left;
    font-size: 2em;
    overflow: hidden;
}

#work nav ul li button > span span{
    top: 0px;
    display: block;
    position: relative;
    transition: opacity 400ms;
}

#work nav ul li.current button{
    left: -100%;
}

#work nav ul li.current button span span{
    opacity: 0;
}


#work nav ul li.current.left button span span{
    animation-name: txtCurrentLeft;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes txtCurrentLeft {
    0%{
        top: 0;
    }
    100%{
        top: -5em;
    }
}

#work nav ul li.current.right button span span{
    animation-name: txtCurrentRight;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes txtCurrentLeft {
    0%{
        top: 0;
    }
    100%{
        top: 5em;
    }
}
#work nav ul li.before-left button span span{
    animation-name: txtBeforeLeft;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes txtBeforeLeft {
    0%{
        top: 5em;
    }
    100%{
        top: 0;
    }
}
#work nav ul li.before-right button span span{
    animation-name: txtBeforeRight;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes txtBeforeRight {
    0%{
        top: -5em;
    }
    100%{
        top: 0;
    }
}


#work nav *[class^="fa"]{
    position: absolute;
    z-index: 500;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    /*background: white;*/
    color: #f5f5f5;
    pointer-events: none;
    transition: opacity 400ms, transform 400ms;
}

#work nav *[class^="fa"]:before{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap-logo-anim{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.wrap-logo-anim + #work{
    display: none;
}

.wrap-logo-anim .logo-anim{
    position: relative;
    display: inline-block;
    transform: scale(.4);
}

.wrap-logo-anim .logo-anim svg:nth-child(2){
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
}

.wrap-logo-anim .logo-anim svg:nth-child(1){
    transform: rotate(-90deg);
}

.wrap-logo-anim .logo-anim svg:nth-child(1) circle{
    stroke-dasharray: 1000;
    stroke-dashoffset: 2000;
    fill: transparent;
}

.wrap-logo-anim .logo-anim svg:nth-child(1) circle{
    animation: draw 2s forwards .4s cubic-bezier(.79,0,.31,.98);
}
.wrap-logo-anim .logo-anim svg:nth-child(2){
    animation: appear .5s forwards 1.5s;
}
.wrap-logo-anim .logo-anim{
    animation: scale_down .3s forwards 3.2s cubic-bezier(.79,0,.31,.98);
}
@keyframes scale_down{
    from{
        transform: scale(.4);
        opacity: 1;
    }
    to{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes draw{
    from{
        stroke-dashoffset: 1000;
        fill:transparent;
        stroke:#444;
    }
    to{
        stroke-dashoffset: 0;
        stroke:#444;
    }
}
@keyframes appear{
    from{
        transform: scale(.95);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}


article{
    position: fixed;
    left: 9vw;
    right: 9vw;
    top: 0;
    bottom: 0;
    margin: 25px 40px 50px;
    z-index: -1;
    overflow: auto;
    scrollbar-color: #444 transparent;
    scrollbar-width: thin !important;
    scroll-behavior: smooth;
}
#work.on-article article{
    z-index: 1;
    visibility: visible;
}
article:hover{
    scrollbar-width: thin !important;
}
article.first{
    left: 6vw;
    right: 18vw;
}

article::-webkit-scrollbar, article *::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #f5f5f5;
}
article::-webkit-scrollbar-thumb, article *::-webkit-scrollbar-thumb {
    background-color: #666;
}

.wrap-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -105px;
    transition: top .4s;
}
#logo{
    width: 80px;
    cursor: pointer;
}
article .wrap-nav .burger-button{
    position:relative;
    width:30px;
    height:30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 25px;
}
article .wrap-nav .burger-button .bar1,
article .wrap-nav .burger-button .bar2,
article .wrap-nav .burger-button .bar3{
    width:30px;
    height:5px;
    background-color:#444;
    transition: all 0.4s;
    border-radius:10px;
}

article .wrap-nav .burger-button:hover .bar1{
    transform: rotate(45deg) translate(10px, 10px);
}

article .wrap-nav .burger-button:hover .bar2{
    opacity: 0;
}

article .wrap-nav .burger-button:hover .bar3{
    transform: rotate(-45deg) translate(8.5px, -7.5px);
}
article .wrap-nav button{
    border: none;
    margin-right: 25px;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
    font-size: 2em;
    color: #444;
}
article header{
    margin-top: 220px;
    padding: 0 50px;
}
article header h1{
    max-width: 35vw;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    font-size: 4.4em;
    line-height: 1;
    font-weight: 400;
}
article header .wrap{
    display: flex;
    justify-content: space-between;

}

article header .cartouche{
    display: flex;
}

article header .cartouche dl{
    margin: 0;
}

article header .cartouche dl:nth-child(2){
    max-width: 10em;
    margin: 0 3rem;
}

article header .cartouche dl dt{
    text-transform: uppercase;
}

article header .cartouche dl dd{
    margin-left: 0;
}

article header .wrap ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

article header .wrap ul li{
    margin: 0 16px;
    min-width: 120px;
    padding: 0.7em 2em;
    border: 1px solid #f8f8f8;
    border-radius: 100vw;
    font-size: .875em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-color: #1d1d1d;
}

article .content{
    margin-top: 50px;
    padding: 25px;
    min-height: 2000px;
}

article .content img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

article footer{
    position: fixed;
    bottom: -50px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    left: 10vw;
    right: 10vw;
    transition: bottom .4s;
}

article.on-scroll-up footer{
    bottom: 0;
}
article.on-scroll-up .wrap-nav{
    top: 0;
}

article .content .info{
    display: flex;
    justify-content: space-between;
    padding: 4vw 2vw;
}

article .content .info > *{
    width: 50%;
}

article .content .info .resume > div{
    font-size: 2.25vw;
    margin-bottom: 6vw;
}
article .content .info .resume > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
article .content .info .resume li{
    border-bottom: 1px solid #444;
    padding: 1.75vw 0;
    font-size: 1.2vw;
}
article .content .info .resume li:first-child{
    border-top: 1px solid #444;
}

article .content .info .resume li span,
article .content .info .resume li strong{
    display: inline-block;
}

article .content .info .resume li strong{
    width: 30%;
}


article.first footer{
    left: 5vw;
    right: 20vw;
}
article footer a{
    text-transform: uppercase;
    color: #444 !important;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
}

a {
    color: rgb(0,100,200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0,80,160);
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}
