*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
    width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    background-color: #f5f5f5;
    overflow: hidden;
    text-align: left;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

dfn {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #868e96;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

span.error{
    color: red;
    text-transform:unset !important;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
}

.row-appointement span.error{
    position: static !important;
}

input.error, textarea.error, select.error{
    border-color: #f00 !important;
}

/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
  border: 2px solid #000;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
  position: absolute;
  bottom: 25px;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #000;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}





#home {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100%;
  /*
  top: 0;
  right: 1920px;
  bottom: 937px;
  left: 1920px;
  */
  overflow: hidden;
}


#home.onFixed {
  position: fixed;
}
#home hr {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
  border: 1px solid red;
}
#home > .projects {
  position: relative;
  height: 100%;
}
#home > .projects .wrap {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 44px;
  left: 44px;
}
#home > .projects .wrap ul {
  transition: transform 200ms, opacity 400ms 600ms, top 400ms 600ms;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#home > .projects.title .wrap ul {
    opacity: 0;
    top: -200px;
}

#home > .projects.illustrations .wrap ul {
    opacity: 0;
    top: 200px;
}


#home > .projects.title:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: #f5f5f5;
}
#home > .projects.title:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0.9;
  background-color: #f5f5f5;
}
#home > .projects.title ul li a{
    text-decoration: none;
    color: #444;
    padding-left: 10px;
    display: block;
}
#home > .projects.title ul li{
    /* padding: 10px 10px 10px 20px; */
}
#home > .projects ul li {
  margin: 0;
}
#home > .projects ul li h2 {
  /* font-size: 3.9vw; */
  font-size: 2.9vw;
  line-height: 4.94vw;
  margin: 0;
  font-family: "boldcondensed", sans-serif;
}
#home > .projects.illustrations ul li {
  display: flex;
  justify-content: right;
  margin-bottom: 0;
}
#home > .projects.illustrations ul li img {
  margin-bottom: 0px;
  display: block;
}
#home > .projects.illustrations ul li a{
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 200;
    border-radius: 6px;
    background-color: #ddd;
    color: #444;
}

#home > .projects.illustrations ul li a .event-cursor{
    display: block;
    position: relative;
    z-index: 200;
    width: 100%;
    height: 100%;
}

#home > .projects.illustrations ul li a .project-illustration{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media screen and (max-width: 1024px){
    #home{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    #home > .projects{
        overflow: hidden;
    }

    #home > .projects ul li h2{
        font-size: 5.8vw;
        line-height: 9vw;
    }

    #home > .projects.illustrations ul li{
        justify-content: space-around;
    }
}


#cursor{
    width: 10px;
    height: 10px;
    border: 2px solid #444;
    border-radius: 50%;
    position: fixed;
    transition: width 200ms, height 200ms, padding 200ms, border-radius 200ms;
    transform: translate(-50%, -50%);
    z-index: 500;
    pointer-events: none;
}

article header{
    margin-top: 40vh;
    padding: 0 2.5vw;
}
article header .counter{
    font-size: 1vw;
    position: relative;
    opacity: 0;
    bottom: -10px;
}

article header h1{
    max-width: 35vw;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    font-size: 4vw;
    line-height: 1;
    font-weight: 400;
    position: relative;
    opacity: 0;
    bottom: -10px;
}

article header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

article header .cartouche{
    display: flex;
}

article header .cartouche dl{
    margin: 0;
    position: relative;
    opacity: 0;
}

article header .cartouche dl:nth-child(1){
    left: -10px;
}
article header .cartouche dl:nth-child(2){
    max-width: 10em;
    margin: 0 3vw;
    bottom: -10px;
}

article header .cartouche dl:nth-child(3){
    right: -10px;
}

article header .cartouche dl dt{
    text-transform: uppercase;
    font-size: .85vw;
}

article header .cartouche dl dd{
    margin-left: 0;
    font-size: 1vw;
}

article header .wrap ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

article header .wrap ul li{
    margin: 0 .5vw;
    /*min-width: 120px;*/
    padding: 0.4vw 1vw;
    border: 1px solid #f8f8f8;
    border-radius: 100vw;
    font-size: .65vw;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-color: #1d1d1d;
    height: 2vw;
    line-height: 1.3vw;
    position: relative;
    bottom: -10px;
    opacity: 0;
}

article .content{
    margin-top: 4vw;
    padding: 0 25px;
    min-height: 2000px;
}

article .content .wrap-thumb{
    position: relative;
    bottom: -10px;
    opacity: 0;
}

article .content img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

article .content .info{
    display: flex;
    justify-content: space-between;
    padding: 4vw 2vw;
}

article .content .info > *{
    width: 50%;
}

article .content .info .resume > div{
    font-size: 2.25vw;
    margin-bottom: 6vw;
}
article .content .info .resume > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
article .content .info .resume li{
    border-bottom: 1px solid #444;
    padding: 1.75vw 0;
    font-size: 1.2vw;
    display: flex;
}

article .content .info .resume li.technologies{
    display: none;
}

article .content .info .resume li:first-child{
    border-top: 1px solid #444;
}

article .content .info .resume li span {
    width: 70%;
}

article .content .info .resume li strong{
    width: 30%;
}

article .content .info aside a{
    padding: 0.4vw 1vw;
    border: 1px solid #444;
    border-radius: 100vw;
    color: #f5f5f5;
    background-color: #444;
    text-decoration: none;
    transition: background-color .4s, color .4s;
}
article .content .info aside a:hover{
    color: #444;
    background-color: #f5f5f5;
}

@media screen and (max-width: 1200px){
    article header .counter{
        font-size: 2vw;
    }

    article header h1{
        font-size: 8vw;
        max-width: 60vw;
    }

    article header .cartouche dl dt{
        font-size: 1.9vw;
    }

    article header .cartouche dl dd{
        font-size: 2vw;
    }

    article header .wrap ul {
        display: none;
    }

    article .content .info .resume li.technologies{
        display: flex;
    }
}

@media (max-width: 960px){
    article .content .info{
        flex-direction: column;
    }

    article .content .info .resume > div{
        font-size: 3vw;
    }


    article .content .info .resume li{
        font-size: 2.4vw;
    }

    article .content .info > *{
        width: 100%;
    }

    article .content .info aside{
        text-align: center;
        margin-bottom: 4vw;
    }

    article .content .info aside a{
        font-size: 2.25vw;
    }
}

/****************/


.wrap-logo-anim{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}
.wrap-logo-anim + main{
    visibility: hidden;
}

.wrap-logo-anim .logo-anim{
    position: relative;
    display: inline-block;
    transform: scale(.4);
}

.wrap-logo-anim .logo-anim svg:nth-child(2){
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
}

.wrap-logo-anim .logo-anim svg:nth-child(1){
    transform: rotate(-90deg);
}

.wrap-logo-anim .logo-anim svg:nth-child(1) circle{
    stroke-dasharray: 1000;
    stroke-dashoffset: 2000;
    fill: transparent;
}

.wrap-logo-anim .logo-anim svg:nth-child(1) circle{
    animation: draw 2s forwards .4s cubic-bezier(.79,0,.31,.98);
}
.wrap-logo-anim .logo-anim svg:nth-child(2){
    animation: appear .5s forwards 1.5s;
}
.wrap-logo-anim .logo-anim{
    animation: scale_down .3s forwards 3.2s cubic-bezier(.79,0,.31,.98);
}
@keyframes scale_down{
    from{
        transform: scale(.4);
        opacity: 1;
    }
    to{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes draw{
    from{
        stroke-dashoffset: 1000;
        fill:transparent;
        stroke:#444;
    }
    to{
        stroke-dashoffset: 0;
        stroke:#444;
    }
}
@keyframes appear{
    from{
        transform: scale(.95);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}


.desktop *{
    cursor:none !important;
}

.wrap-nav nav a{
    top: -100px;
    opacity: 0;
    transition: top 400ms cubic-bezier(.79,0,.31,.98), opacity 400ms cubic-bezier(.79,0,.31,.98);
}

.wrap-nav > .logo img{
    position: relative;
    left: -100px;
    opacity: 0;
    transition: left 400ms cubic-bezier(.79,0,.31,.98), opacity 400ms cubic-bezier(.79,0,.31,.98);
}


.wrap-nav.anim > .logo img{
    left: 0;
    opacity: 1;
}

.wrap-nav.anim nav a:nth-child(1){
    top: 0;
    transition-delay: 200ms;
}

.wrap-nav.anim nav a:nth-child(2){
    top: 0;
    transition-delay: 400ms;
}

.wrap-nav.anim nav a:nth-child(3){
    top: 0;
    transition-delay: 600ms;
}
.wrap-nav.anim nav a{
    opacity: 1;
}
@media screen and (max-width: 1200px){
    .wrap-nav > a.logo img{
        position: relative;
        opacity: 0;
        transition: top 400ms cubic-bezier(.79,0,.31,.98), opacity 400ms cubic-bezier(.79,0,.31,.98);
        top: -500px;
    }

    .wrap-nav.anim > .logo img{
        top: 0;
        opacity: 1;
    }
    .wrap-nav nav a{
        top: 15px;
        opacity: 0;
        transition: top 400ms cubic-bezier(.79,0,.31,.98), opacity 400ms cubic-bezier(.79,0,.31,.98);
    }
}

.about h1{
    transform: translateX(-100px);
    opacity: 0 !important;
    transition: transform 400ms cubic-bezier(.79,0,.31,.98) 600ms, opacity 400ms cubic-bezier(.79,0,.31,.98) 600ms;
}

.about .mouse-icon{
    opacity: 0;
    bottom: -100px;
    transition: bottom 400ms cubic-bezier(.79,0,.31,.98) 800ms, opacity 400ms cubic-bezier(.79,0,.31,.98) 800ms;
}

.about.anim h1{
    transform: translateX(0);
    opacity: 1 !important;
}
.about.anim .mouse-icon{
    bottom: 25px;
    opacity: 1;
}

#contact h1,
#contact p.intro,
#contact .input,
#contact pre {
    opacity: 0;
    transition: opacity 400ms;
}

#contact .anim{
    opacity: 1 !important;
}


#projet.anim p.counter, 
#projet.anim h1{
    animation: display_from_bottom 400ms forwards 300ms;
}

@keyframes display_from_bottom {
    0%{
        bottom: -10px;
        opacity: 0;
    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}

@keyframes display_from_left {
    0%{
        left: -10px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

@keyframes display_from_right {
    0%{
        right: -10px;
        opacity: 0;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}


#projet.anim .cartouche dl:nth-child(1){
    animation: display_from_left 400ms forwards 400ms;

}

#projet.anim .cartouche dl:nth-child(2){
    animation: display_from_bottom 400ms forwards 600ms;

}

#projet.anim .cartouche dl:nth-child(3){
    animation: display_from_right 400ms forwards 800ms;

}

#projet.anim header .wrap ul li:nth-child(1){
    animation: display_from_bottom 400ms forwards 200ms;
}

#projet.anim header .wrap ul li:nth-child(2){
    animation: display_from_bottom 400ms forwards 400ms;
}

#projet.anim header .wrap ul li:nth-child(3){
    animation: display_from_bottom 400ms forwards 600ms;
}

#projet.anim header .wrap ul li:nth-child(4){
    animation: display_from_bottom 400ms forwards 800ms;
}

#projet.anim header .wrap ul li:nth-child(5){
    animation: display_from_bottom 400ms forwards 1000ms;
}

#projet.anim header .wrap ul li:nth-child(6){
    animation: display_from_bottom 400ms forwards 1200ms;
}

#projet.anim header .wrap ul li:nth-child(7){
    animation: display_from_bottom 400ms forwards 1400ms;
}

#projet.anim header .wrap ul li:nth-child(8){
    animation: display_from_bottom 400ms forwards 1600ms;
}

#projet.anim header .wrap ul li:nth-child(9){
    animation: display_from_bottom 400ms forwards 1800ms;
}

#projet.anim header .wrap ul li:nth-child(10){
    animation: display_from_bottom 400ms forwards 2000ms;
}

#projet.anim .wrap-thumb {
    animation: display_from_bottom 400ms forwards 1000ms;
}


#projet.endAnim p.counter, 
#projet.endAnim h1, 
#projet.endAnim dl, 
#projet.endAnim .wrap li,
#projet.endAnim .wrap-thumb{
    animation: hide_to_bottom 400ms forwards;
}

@keyframes hide_to_bottom {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#home.anim .wrap ul{
    top: 0 !important;
    opacity: 1 !important;
}