{% extends 'base.html' %}

{% block content %}
<section class="work">
  <h3>PROJETS PERSONNELS</h3>
  <div class="content">
    <ul class="items-icons">
      <li>
        <a href="https://github.com/niux3/validator" target="_blank">
          <span>
            <span class="bold">ValidatorJS</span>
            <span>Système de validation des données</span>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/niux3/js-template-engine" target="_blank">
          <span>
            <span class="bold">Moteur de template en JS</span>
            <span>Moteur de template très léger (16 kio)</span>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/niux3/forum" target="_blank">
          <span>
            <span class="bold">Forum</span>
            <span>Forum de discussion en Python</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <h3>PROJETS</h3>
  <div class="content">
    <ul class="items-icons">
      {% for _ in range(50) %}
      <li>
        <a href="#">
          <span>
            <span class="bold">azerty</span>
            <span>Elit modi accusantium eaque at assuda.</span>
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
