<div class="top-bar margin-vertical-3">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">backoffice</li>
      <li><a href="{{ url_for('activities.index') }}">Activités</a></li>
      <li><a href="{{ url_for('functions.index') }}">Fonctions</a></li>
      <li><a href="{{ url_for('technology.index') }}">Technologies</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/" class="button">voir le site</a></li>
    </ul>
  </div>
</div>
