
            .bg-leroy-merlin{background-color: #863f3f;}
            .c-leroy-merlin{color: #863f3f;}
        

            .bg-areva{background-color: #b82525;}
            .c-areva{color: #b82525;}
        

            .bg-dyson-airblade{background-color: #6548ca;}
            .c-dyson-airblade{color: #6548ca;}
        

            .bg-qui-est-le-moins-cher{background-color: #3d55c1;}
            .c-qui-est-le-moins-cher{color: #3d55c1;}
        

            .bg-de-quoi-je-me-mel{background-color: #3741a6;}
            .c-de-quoi-je-me-mel{color: #3741a6;}
        

            .bg-opensky{background-color: #576499;}
            .c-opensky{color: #576499;}
        

            .bg-peugeot{background-color: #77a1c1;}
            .c-peugeot{color: #77a1c1;}
        

            .bg-peugeot-4008{background-color: #dc2b2b;}
            .c-peugeot-4008{color: #dc2b2b;}
        

            .bg-casino{background-color: #247833;}
            .c-casino{color: #247833;}
        