.input{
    margin-bottom: 1.5rem;
    &.text, &.email, &.tel, &.number, &.date, &.password, &.search, &.select, &.textarea{
        label{
            display: block;
            font-weight: bold;
            margin-bottom: .5rem;
            text-transform:capitalize;
        }
        input, select, textarea{
            width: 100%;
        }
    }
}
