.contact{
  position: relative;
  .content{
    max-height: 100em;
    opacity: 1;
    transition: max-height .4s $easin .2s, opacity .4s;
    overflow: hidden;

    &.minimize{
      max-height: 0;
      opacity: 0;
    }

    .info{
      position: absolute;
      top: 0;
      right: 0;

      span{
        color: map-get($colors, marseille);
      }
    }
  }
  .result{
    max-height: 0;
    opacity: 0;
    transition: max-height .4s $easin .4s, opacity .4s $easin;
    overflow: hidden;
    > p{
      //min-height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.show{
      max-height: 100em;
      opacity: 1;
    }
  }
}
