html{
  --animation-duration: .6s;
  &.animate-home{
    .animate-logo-home{
      transform: scale(1.5);
      opacity: 0;
      filter: blur(2px);
      animation: 600ms animate_logo_home forwards $easin;
    }

    .transition-fade{
      opacity: 0;
      filter: blur(2px);
      animation: 600ms animate_in forwards linear;
      @for $i from 1 to 20{
        &.delay#{$i}{
          animation-delay: #{200 * $i}ms;
        }
      }
    }

    .flag-down{
      clip-path: inset(0 0 100% 0);
      animation: 600ms flag_down $easin forwards;

      @for $i from 1 to 20{
        &.delay#{$i}{
          animation-delay: #{200 * $i}ms;
        }
      }
    }

    .flag-right{
      clip-path: inset(0 100% 0 0);
      animation: 600ms flag_right $easin forwards;

      @for $i from 1 to 20{
        &.delay#{$i}{
          animation-delay: #{200 * $i}ms;
        }
      }
    }
  }

  &.is-rendering{
    .transition-fade{
      opacity: 0;
      filter: blur(2px);
      animation: 600ms animate_in forwards linear;
      @for $i from 1 to 20{
        &.delay#{$i}{
          animation-delay: #{200 * $i}ms;
        }
      }
    }

    .flag-down{
      clip-path: inset(0 0 100% 0);
      animation: 600ms flag_down $easin forwards;

      @for $i from 1 to 20{
        &.delay#{$i}{
          animation-delay: #{200 * $i}ms;
        }
      }
    }

    .flag-right{
      background-color: red;
      clip-path: inset(0 100% 0 0);
      animation: 600ms flag_right $easin forwards;

      @for $i from 1 to 20{
        &.delay#{$i}{
          animation-delay: #{200 * $i}ms;
        }
      }
    }
    :is(.layer, #lateralBar){
        opacity: 0 !important;
        visibility: hidden !important;
    }

  }

  &.is-animating{
    .transition-fade, .flag-down, .flag-right {
      opacity: 1;
      animation: 600ms animate_out forwards;

      @for $i from 1 to 100{
        &.delay#{$i}{
          animation-delay: 0;
        }
      }
    }

    :is(.layer, #lateralBar){
        opacity: 0 !important;
        visibility: hidden !important;
    }

    &.is-leaving{
      .transition-fade{
        animation-delay: 0ms !important;
      }
    }
  }
}
