@keyframes animate_in{
  0%{
    opacity: 0;
    filter: blur(5px);
  }
  100%{
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes animate_out{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes scale_up{
  0%{
    opacity: .03;
    transform: scale(0);
  }
  50%{
    opacity: .03;
    transform: scale(1);
  }
  60%{
    opacity: .03;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1);
  }
}
html{
  --animation-duration: .6s;
  .transition-fade{
    position: relative;
  }
  &.animate-home{
    .transition-fade{
      > *{
        opacity: 0;
        animation: .8s animate_in forwards;
      }

      &:before{
        content: '';
        z-index: 1;
        position: absolute;
        inset: 0;
        background-color: var(--color-cannes);
        // border: .1rem solid var(--color-rouen);
        transform-origin: center center;
        opacity: .5;
        transform: scale(0);
        animation: var(--animation-duration) scale_up forwards;

      }

      @for $i from 1 to 100{
        &.delay#{$i}{
          > *{
            animation-delay: #{400 + (200 * $i)}ms;
          }

          &:before{
            animation-delay: #{200 * $i}ms;

          }
        }
      }
    }
  }
  
  &.is-changing{
    .transition-fade{
      opacity: 0;
      filter: blur(5px);
      animation: var(--animation-duration) animate_in forwards;

      @for $i from 1 to 100{
        &.delay#{$i}{
          animation-delay: #{200 * $i}ms;
        }
      }

    }
    :is(.layer, #lateralBar){
        opacity: 0 !important;
        visibility: hidden !important;
    }

  }

  &.is-animating{
    .transition-fade {

      opacity: 0;
      filter: blur(5px);
      animation: var(--animation-duration) animate_out forwards;

      @for $i from 1 to 100{
        &.delay#{$i}{
          animation-delay: 0;
        }
      }
    }

    :is(.layer, #lateralBar){
        opacity: 0 !important;
        visibility: hidden !important;
    }

    &.is-leaving{
      .transition-fade{
        animation-delay: 0ms !important;
      }
    }
  }
}
