code{
  border: .1rem solid var(--color-rouen);
  border-radius: 3px;
  background-color: var(--color-rennes);
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  color: var(--color-cannes);
}
