#goToTop{
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .4s !important;
  max-height: 5rem;

  &.displayObserve{
    opacity: 1;
    margin-top: 1rem !important;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    height: 100%;
  }
}
