select, option, input[type=text], input[type=email], input[type=date], input[type=time], textarea{
  font-size: $font-size-base;
  margin-bottom: 0;
  border: none;
  border-bottom: .1rem solid map-get($colors, cannes);
  padding: .5rem 0 0 .8rem;
  box-shadow: none;
  color: map-get($colors, cannes);
  background-color: transparent !important;
  height: 4rem;
  opacity: 1;
  transition: opacity .2s;

  &.error{
    border-bottom: .1rem solid map-get($colors, marseille);
  }

  &:focus{
    border: none;
    border-bottom: .1rem solid map-get($colors, cannes);
    box-shadow: none;

    &.error{
      border-bottom: .1rem solid map-get($colors, marseille);
    }
  }

  &:disabled{
    opacity: 0;
    pointer-events: none;
  }
}
