label{
  transition: background-color .4s;
  border-radius: $border-radius;
  padding: .5rem;

  &:has(input:focus, select:focus, textarea:focus){
    background-color: map-get($colors, nice);
  }

}
