#lateralBar{
  margin: 0;
  position: fixed;
  top: 11rem;
  bottom: 2.5rem;
  right: 10rem;

  transition: right .4s;

  &.move{
    right: 500px !important;
  }

  @include breakpoints(1024px){
    right: calc(100vw - 4.5rem);

  }
}
