pre{
  border: 1px solid #cacaca;
  border-radius: 6px;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  color: #0a0a0a;
  display: block;
  max-width: 100%;
  word-wrap: break-word;
  padding: 1.5rem;
  margin: 1.5rem 0;
}
