.skip-link{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 0.2em;
  display: block;

  &:focus{ 
    color: var(--color-cannes);
  }

  &:not(:focus):not(:active){
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
  }
}
