{% extends 'base.html' %}

{% block page_content %}
{% include 'components/form.html' %}
<script>
    (()=>{
        let functions_select = document.querySelector('#functions'),
            activities_select = document.querySelector('#activities'),
            id = window.location.pathname.substr(window.location.pathname.lastIndexOf('-') + 1)
        fetch('http://localhost:8000/get-data-select?id_portfolio=' + id).then(r => r.json()).then(d =>{
            functions_select.value = d.functions
            activities_select.value = d.activities
        })
    })()
</script>
{% endblock %}
