{% extends 'base.html' %}

{% block page_content %}
<form method="GET" class="mb-3">
    {{ form.send }}
    <div class="row">
        {% for field in form %}
            {% if field.name != 'csrf_token' and field.name != 'send' %}
            <div class="col input select">
                {{ field }}
            </div>
            {% endif %}
        {% endfor %}
        <div class="col input submit">
            <button style="width:100%" type="submit" class="btn btn-secondary">en avant guingamp</button>
        </div>
    </div>
</form>
<p><a href="{{ url_for('images.create') }}" class="btn btn-primary" style="width:100%;">créer</a></p>
{% endblock %}
