<footer>
  <p class="flex-container align-middle align-justify">
  <span>RB webstudio &ndash; <a href="https://www.alsacreations.com/profil/lire/11496-niuxe.html" target="_blank">Alsacreations</a> &ndash; <a href="https://github.com/niux3" target="_blank">Github</a> &ndash; <a href="https://www.linkedin.com/in/renaud-bourdeau-%F0%9F%90%A7-7639b944/" target="_blank">LinkedIn</a> &ndash; <a href="/static/renaud-bourdeau-cv.pdf">CV</a></span>
  <span>
    <button class="button changeMode">
      <span class="fa-solid fa-moon"><span class="text">light</span></span>
    </button>
    <a class="button" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
  </span>
  </p>
</footer>

