<section class="introduction">
    <h2>
        <span class="bold">RB Webstudio</span>
        <br>
        <span class="light">Développement web <span class="bold">stratégique</span> pour entrepreneurs <span class="bold">ambitieux</span></span>
        <br>
        <span class="light">Je construis des solutions techniques <span class="bold">stables</span> et <span class="bold">scalables</span>, pour que votre <span class="bold">tech</span> devienne un <span class="bold">levier de croissance</span> &ndash; pas un frein.</span>
    </h2>
</section>
