
.univers-leroy-merlin{
    > header{
        background-color: #863f3f;
    }

    > .global nav a:hover{
        background-color: #863f3f;
    }
}
        

.univers-areva{
    > header{
        background-color: #b82525;
    }

    > .global nav a:hover{
        background-color: #b82525;
    }
}
        

.univers-dyson-airblade{
    > header{
        background-color: #6548ca;
    }

    > .global nav a:hover{
        background-color: #6548ca;
    }
}
        

.univers-qui-est-le-moins-cher{
    > header{
        background-color: #3d55c1;
    }

    > .global nav a:hover{
        background-color: #3d55c1;
    }
}
        

.univers-de-quoi-je-me-mel{
    > header{
        background-color: #3741a6;
    }

    > .global nav a:hover{
        background-color: #3741a6;
    }
}
        

.univers-opensky{
    > header{
        background-color: #576499;
    }

    > .global nav a:hover{
        background-color: #576499;
    }
}
        

.univers-peugeot{
    > header{
        background-color: #77a1c1;
    }

    > .global nav a:hover{
        background-color: #77a1c1;
    }
}
        

.univers-peugeot-4008{
    > header{
        background-color: #dc2b2b;
    }

    > .global nav a:hover{
        background-color: #dc2b2b;
    }
}
        

.univers-casino{
    > header{
        background-color: #247833;
    }

    > .global nav a:hover{
        background-color: #247833;
    }
}
        